.barra {
  background-color: transparent;
  color: rgb(250, 249, 249);
  border-color: rgb(134, 179, 216);
  border-radius: 20px;
  font-style: oblique;
  outline-color: transparent;
  outline-style: dashed;
}

.barra:hover {
  transform: scale(1);
  color: rgb(200, 224, 231);
  border-color: rgb(175, 217, 223);
  outline-color: transparent;
}

.barra::placeholder {
  color: rgb(197, 232, 238);
}

.barra:hover::placeholder {
  color: rgb(250, 249, 249);
}

.bot {
  background-color: transparent;
  border-color: transparent;
  font-style: italic;
  color: rgb(175, 203, 226);
  width: 70px;
  height: 50px;
  margin-left: 5px;
}
.bot:hover {
  transform: scale(1.2);
  color: rgb(244, 255, 255);
}
